<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Movie</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="" value="{{ title }}">
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="number" class="form-control" id="year" name="year" placeholder="" min="1800" max="2050" value="{{ year }}">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre" placeholder="" value="{{ genre }}">
                </div>
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating" placeholder="" min="1" max="5" value="{{ rating }}">
                </div>
                <div class="form-group actors">
                    <label for="actors">Actors
                        <button class="add-actor btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-plus"></span> Add Actor</button>
                    </label>
                    <!-- Form arrays aren't playing nice with serializeArray so I'm naming them all the same thing -->
                    {{#each actors}}
                        <input type="text" class="actor form-control" name="actors" value="{{ this }}"></input>
                    {{/each}}
                    <input type="text" class="actor form-control" name="actors" value=""></input>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save">Save</button>
        </div>
    </div>
</div>
